#!/usr/bin/env python3
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("int_param",int_t,0,"整数参数",10,1,100)
gen.add("double_param",double_t,0,"浮点数参数",1.57,0.0,3.1415926)
gen.add("str_param",str_t,0,"字符串参数","hello param")
gen.add("bool_param",bool_t,0,"布尔参数",True)

myList = gen.enum([gen.const("small",int_t,0,"small_car"),
                   gen.const("mid",int_t,1,"mid_car"),
                   gen.const("big",int_t,2,"big_car")],
                   "car_size")

gen.add("list_param",int_t,0,"列表参数",0,0,2,edit_method=myList)

exit(gen.generate("dyna_cfg_pkg","","dr"))